html {
    font-family: "Lato";
}

.red_text {
    color: red;
}

.green_text {
    color: green;
}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

button {
    background: white;
    border-radius: 4px;
    border: 1px solid black;
    padding: 4px 8px;
}

button:hover {
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.57);
}