html {
    font-family: "Lato";
}
.row {
    padding-bottom: 10%;
}
.red_text {
    color: red;
}

.green_text {
    color: green;
}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}